.root.midiInOut.focus .tab-header-background {
    -fx-background-color: linear-gradient(to right, #0000FF, #FF7F00);
}

.root.midiInOut.connectedSender .tab-header-background {
    -fx-background-color: #0000FF;
}

.combo-box-popup .list-cell:disabled  {
    -fx-opacity: 0.4;
}

.list-cell:disabled  {
    -fx-opacity: 0.4;
}

ControlUi, ProjectUi {
    -fx-background-color: black;
}

ControlUi .logoText, ProjectUi .logoText {
    -fx-text-fill: aqua;
}

ControlUi .version  {
    -fx-text-fill: #00aaaa;
}

HBox.canvasContainer {
    -fx-padding: 5px;
    -fx-border-width: 2px;
}
MidiClockUi .position {
    -fx-background-color: black;
    -fx-border-color:black;
}
MidiClockUi .position Label {
    -fx-text-fill: aqua;
}
Label.numberFeedback {
    /*-fx-text-fill: red; actual text color */
    -fx-border-color: -fx-mid-text-color;
    -fx-background-color: black; 
}
Field {
    -fx-border-color: -fx-mid-text-color;
}